.img {
    width: 60%;
    margin: 5% auto;
    display: block;
}

.form {
    width: 100%
}

ion-item {
    border: solid 1px;
    border-color: var(--ion-color-secondary);
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.error-msg {
    width: 80%;
    margin: auto;
}

.error {
    border-color: var(--ion-color-danger);
}

.form_div {
    margin-top: 15%;
}

.marg {
    margin-top: 10%;
}

.btn-conn {
    margin-top: 7%;
    text-align: center;
}

.text_reset {
    width: 80%;
    margin-left: 10%;
}

.text_reset p {
    text-align: justify;
}