<app-header [title]="'RESET'">
</app-header>
<ion-content [fullscreen]="true">

    <img class="img" src="assets/img/logo.jpg">



    <div class="text_reset">
        <p>{{'RESET_MDP_TEXT' | translate}}</p>
    </div>
    <div class="form_div">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <ion-item class="email" lines="none">
                    <ion-input id="email" placeholder="{{'FORM_EMAIL_2' | translate}}" type="email" formControlName="email" class="form-control" ngDefaultControl></ion-input>
                    <ion-icon color="primary" name="mail" slot="end"></ion-icon>
                </ion-item>
                <div *ngIf="error?.email">
                    <ng-container *ngFor="let message of error.email.messages">
                        <small class="error-message">{{message | translate}}</small>
                    </ng-container>
                </div>
            </div>

            <div class="btn-conn">
                <ion-button type="submit" [disabled]="!resetForm.valid" (keyup.enter)="resetForm.valid && onSubmit()" color="primary">{{'BUTTONS_SEND_RESET_CODE' | translate}}</ion-button>
            </div>
        </form>
    </div>

</ion-content>