<app-header [title]="'ITINERAIRE'"></app-header>

<ion-content>
    <div *ngIf="ready">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>{{value?.nom | translate}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <div *ngIf="img" class="spin">
                    <ion-spinner class="spine-even" name="lines"></ion-spinner>
                </div>
                <img class="imageCard" (load)="onLoad()" (error)="onError()" [src]="value?.image" />
                <div class="ionText">
                    <ion-label>
                        <p class="text_label">
                            <ion-icon slot="start" name="flag" color="primary"></ion-icon> : {{value?.address | translate}}</p>
                        <p class="text_label">
                            <ion-icon slot="start" name="call" color="primary"></ion-icon> : {{value?.phone | translate}}</p>
                        <p class="text_label">
                            <ion-icon slot="start" name="mail" color="primary"></ion-icon> : {{value?.email | translate}}</p>
                    </ion-label>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!ready">
        <ion-card>
            <ion-card-header>
            </ion-card-header>
            <ion-card-content>
                <div class="spine-mg">
                    <ion-spinner name="lines"></ion-spinner>
                </div>
            </ion-card-content>
        </ion-card>
    </div>


    <div>
        <!-- <agm-map [latitude]="lat" [mapTypeId]="mapTypeId" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"> -->
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label">
            </agm-marker>
        </agm-map>
    </div>
</ion-content>