 .text_label {
     font-size: 15px;
     font-weight: bolder;
 }
 
 agm-map {
     width: 100vw !important;
     height: 50vh !important;
 }
 
 ion-fab-button {
     --ion-color-success: #01a758;
 }
 
 .spine-mg {
     text-align: center;
 }
 
 .ionText {
     margin-top: 5%;
     p {
         font-size: 15px;
     }
 }