.skeleton-event-content {
    margin-top: 7%;
    width: 90%;
    margin-left: 5%;
}

.skeleton-event-title {
    margin-top: 5%;
    width: 30%;
}

.skeleton-event-description {
    margin-top: 5%;
}

.skeleton-event-button {
    margin-top: 5%;
    width: 30%;
    height: 30px;
}

.skeleton-event-image {
    margin-top: 5%;
    height: 200px;
}