.img {
    width: 60%;
    margin: 5% auto;
    display: block;
}

.form {
    width: 100%
}

.close {
    width: 40px;
    height: 40px;
    float: right;
}

.new_account {
    margin-top: 10%;
    // width: 40%;
    // margin-left: 30%;
    width: 100%;
}

.mdp {
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
}

#margin {
    margin-top: 20%;
}

#count {
    margin-top: 4%;
}

ion-item {
    border: solid 1px;
    border-color: var(--ion-color-primay);
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.form_div {
    margin-top: 15%;
}

.iconIcon {
    font-size: 30px;
}

.btn_log {
    margin-top: 4%;
    text-align: center;
}

.btn_ion {
    width: 50%;
}

.marg {
    margin-top: 10%;
}