<app-header></app-header>
<ion-content [fullscreen]="false">
    <app-refresher (onRefresh)="loadEvent()"></app-refresher>
    <app-title translateKey="OFFRE"></app-title>
    <div *ngIf="ready && offre">
        <div *ngFor="let item of offre; let i = index">
            <ion-card class="ion-no-margin ion-margin-bottom no-border-radius">
                <ion-card-header class="ion-no-padding">
                    <h1 class="event-title">{{item.title | translate}}</h1>
                </ion-card-header>
                <ion-card-content class="ion-padding">
                    <p class="ion-padding-bottom">{{item.description | translate}}</p>
                    <ion-button *ngIf="item.link" size="small" class="no-border-radius" (click)="openLink(item.link)" [style.--ion-color-primary]="item.button_color" [style.color]="'#FFFFFF'" slot="end">{{item.buttonlabel | translate}}</ion-button>

                    <div *ngIf="item.loader">
                        <ion-spinner class="imageCard" name="lines"></ion-spinner>
                    </div>
                </ion-card-content>
                <div class="card-footer ion-no-padding">
                    <app-image [image]="item.image"></app-image>
                </div>
            </ion-card>
        </div>
    </div>
    <div *ngIf="!offre && ready">
        <app-data-vide></app-data-vide>
    </div>

    <div *ngIf="!ready">
        <div class="skeleton-event">
            <div class="skeleton-event-content">
                <div class="skeleton-event-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </div>
                <div class="skeleton-event-description">
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </div>
                <div class="skeleton-event-button">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </div>
            </div>
            <div class="skeleton-event-image">
                <ion-skeleton-text animated></ion-skeleton-text>
            </div>
        </div>
        <div class="skeleton-event">
            <div class="skeleton-event-content">
                <div class="skeleton-event-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </div>
                <div class="skeleton-event-description">
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </div>
                <div class="skeleton-event-button">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </div>
            </div>
            <div class="skeleton-event-image">
                <ion-skeleton-text animated></ion-skeleton-text>
            </div>
        </div>
    </div>

    <div *ngIf="service && service.length > 0">
        <app-title translateKey="SERVICE"></app-title>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let item of service">
                    <img class="image" [src]="item.image" (click)="onClick(item.link)">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="!ready && !service" class="items">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
    </div>

    <div>
        <app-brands></app-brands>
    </div>
</ion-content>