.div_item {
    width: 100%;
}

#label_modal {
    margin-top: -5px;
    color: rgb(27, 25, 25);
    font-weight: bolder;
    font-size: 13px
}

#margin {
    margin-top: 20px;
}

.btn {
    margin-top: 25px;
    text-align: center;
}

.profil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.profil-content {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.iconBtn {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: -50px;
    right: -109px;
    background-color: var(--ion-color-primary);
    ;
}

.Icon {
    font-size: 25px;
    width: 100%;
}