.skeleton-event-title {
    margin-top: 5%;
    width: 60%;
    height: 20px;
    text-align: center;
}

.skeleton-event-button {
    margin-top: 5%;
    width: 30%;
    height: 30px;
    right: 15px;
}